<br>
<div class="row">
  <div class="form-group">
    <div class="col-sm-4">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar, width: "100%", class: "img-responsive img-circle" %>
      <% else %>
        <img class="img-responsive img-circle" src="https://api.fnkr.net/testimg/300x300/b2dfce/FFF/?text=avatar">
      <% end %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-8">
      <h2><%= @user.name %></h2>
      <p><strong><%= @user.email %></strong></p>
      <ul class="list-unstyled list-inline">
        <li><strong><%= @commented_restaurants.size %> 間已評論餐廳</strong></li>
        <li><strong><%= @favorited_restaurants.size %> 間已收藏餐廳</strong></li>
        <li><strong><%= @followings.size %> followings</strong></li>
        <li><strong><%= @followers.size %> followers</strong></li>
      </ul>
      <p><%= simple_format @user.intro %></p>
      <% if @user.email == current_user.email %>
       <%= link_to "編輯資料", edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @followings.size %> followings</h3>
      </div>

      <ul class="list-group">
        <% @followings.each do |user| %>
          <li class="list-group-item">
            <%= link_to user_path(user) do %>
              <% if user.avatar? %>
                <%= image_tag user.avatar %>
              <% else %>
                <img class="img-circle" src="https://api.fnkr.net/testimg/50x50/b2dfce/FFF/?text=avatar">
              <% end %>
              <%= user.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @followers.size %> followers</h3>
      </div>

      <ul class="list-group">
        <% @followers.each do |user| %>
          <li class="list-group-item">
            <%= link_to user_path(user) do  %>
              <img class="img-circle" src="https://api.fnkr.net/testimg/50x50/b2dfce/FFF/?text=avatar">
              <%= user.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    
  </div>

  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @commented_restaurants.size %> 間已評論餐廳</h3>
      </div>
      <div class="panel-body">
        <% @commented_restaurants.sort_by(&:name).uniq.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <% if restaurant.image? %>
                <%= image_tag restaurant.image %>
              <% else %>
                <img class="img-responsive img-rounded" src="https://api.fnkr.net/testimg/150x150/a3dfa1/FFF/?text=image">
              <% end %>
              <%= restaurant.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @favorited_restaurants.size %> 間已收藏餐廳</h3>
      </div>
      <div class="panel-body">
        <% @favorited_restaurants.sort_by(&:name).each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do  %>
            <div class="my-restaurant">
              <% if restaurant.image? %>
                <%= restaurant.image %>
              <% else %>
                <img class="img-responsive img-rounded" src="https://api.fnkr.net/testimg/150x150/a3dfa1/FFF/?text=image">
              <% end %>
              <%= restaurant.name %> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

</div>

