<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="myPage">

    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
    
    <div class="container">
      <%= render "shared/navbar" %>
      
      <%= render "shared/tab" unless "admin/restaurant" %>

      <%= yield %>
    </div>


  </body>
</html>
