<!DOCTYPE html>
<html>
  <head>
    <title>Eat & Comment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="myPage">
    
    <div class="container">
      <%= render "shared/navbar" %>

      <%= render "shared/flashes" %>
      
      <%= render "shared/nav-tabs" %>
      
      <%= yield %>

    </div>


  </body>
</html>
