<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="myPage">

    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
    
    <div class="container">
      <%= render "shared/navbar" %>
      
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= active_link_to "首頁", root_path, wrap_tag: :li %>
      </li>
      <li role="presentation">
        <%= active_link_to "最新動態", feeds_restaurants_path, wrap_tag: :li %>
      </li>
    </ul>

      <%= yield %>
    </div>


  </body>
</html>
